.root {
    -fx-background-color: linear-gradient(to bottom, #ffffff, #cce0ff);
}

.title-text {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-fill: #003366;
}

.section-text {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: #003366;
}

.text-field {
    -fx-font-size: 16px;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-border-color: #007acc;
}

.button {
    -fx-background-color: #007acc;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-border-radius: 5px;
    -fx-padding: 10px 20px;
}

.list-view {
    -fx-font-size: 16px;
}

/* Style for sign-out button */
#signOutButton {
    -fx-background-color: #B22222; /* Dark red color */
    -fx-text-fill: white;
}

#signOutButton:hover {
    -fx-background-color: #DC143C; /* Brighter red when hovered */
}

#signOutButton:pressed {
    -fx-background-color: #8B0000; /* Darker red when pressed */
}

/* Style for admin bypass button */
#adminBypassButton {
    -fx-background-color: #8A2BE2; /* Purple color for admin functions */
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#adminBypassButton:hover {
    -fx-background-color: #9932CC; /* Brighter purple when hovered */
}

#adminBypassButton:pressed {
    -fx-background-color: #6A1B9A; /* Darker purple when pressed */
}